html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}



ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.main {
    border: 1px solid gainsboro;
    display: flex;
    flex-flow: column;
    width: 90%;
}
.menu {
    background-color: #ffffff;
    width: 10%;
    text-align: center;
}
.header {
    display: flex;
    align-items: center;
    height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    padding: 30px;
    justify-content:space-between;
    display: flex;
    border-top: 1px solid gainsboro;
    background-color: white;
    display: flex;
    min-height: 150px;
    
}